@font-face {
    font-family: "icons";
    src: url("./icons.eot?df2393df49868c9b09272ac9fe4cebf8#iefix") format("embedded-opentype"),
url("./icons.woff2?df2393df49868c9b09272ac9fe4cebf8") format("woff2"),
url("./icons.woff?df2393df49868c9b09272ac9fe4cebf8") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\f101";
}
.icon-compact:before {
    content: "\f102";
}
.icon-logo:before {
    content: "\f103";
}
.icon-slider:before {
    content: "\f104";
}
